@mixin imperavi-base {
  font-family: "Trebuchet MS", Verdana, Arial, Tahoma, sans-serif;      
  font-size: 90%;
  margin: 0;
  padding: 0;
  background-color: #fff;

  blockquote {
    margin: 10px;
    margin-left: 3em;
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 10px;  
    line-height: 1.5em; 
    font-style: italic;
    color: #777;  
  }

  div {
    line-height: 1.5em;
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 10px;  
    margin: 10px;
  }

  p {
    margin: 10px;
    line-height: 1.5em;
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 10px;
    overflow: hidden;

    .img_left {
      float: left;
      margin: 0 10px 0 0;
    }

    .img_right {
      float: right;
      margin: 0 0 0 10px;
    }
  }

  ul, ol {
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 10px;
    line-height: 1.5em;
    margin: 10px;
    padding-left: 2em;  
  }

  ul li ul, ol li ol, ul li ol, ol li ul {
    border: none;
    margin: 2px !important;
    padding: 0;
    padding-left: 2em;    
  }

  dl { 
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 10px;  
    margin: 10px; 

    dt { font-weight: bold; }
    dd { margin-left: 1.5em;}
  }

  table {
    background-color: #fff;
    border-collapse: collapse;
    font-size: 1em; 
    margin: 10px;

    td {
      border: 1px solid #ddd;
      padding: 5px;
    }

    thead td {
      border-bottom: 2px solid #000 !important;
      font-weight: bold;
    }
  }

  code, pre {
    font: 1.2em/1 "Courier New", Courier, monospace;
    border: 1px dashed #ccc;
    background: #f5f5f5;
    padding: 1em;
    margin: 10px;
  }

  pre {
    line-height: 1.7em;
    font-size: .9em;
    background: #f5f5f5;
    overflow: auto;
  }

  iframe, object {
    margin: 10px;
  }

  .redactor_video_box {
    width: 300px;
    height: 200px;
    background: asset-url("imperavi_rails/video_box.png", images) center no-repeat #000 !important; 
    margin: 10px;

    object, embed, iframe {
      display: none;
    }
  }

  .redactor_file_link { padding-left: 20px; }

  .redactor_file_ico_avi    { background: asset-url("imperavi_rails/imperavi/fileicons/avi.png", images) no-repeat; }
  .redactor_file_ico_csv    { background: asset-url("imperavi_rails/imperavi/fileicons/csv.png", images) no-repeat; }
  .redactor_file_ico_doc    { background: asset-url("imperavi_rails/imperavi/fileicons/doc.png", images) no-repeat; }
  .redactor_file_ico_gif    { background: asset-url("imperavi_rails/imperavi/fileicons/gif.png", images) no-repeat; }
  .redactor_file_ico_html   { background: asset-url("imperavi_rails/imperavi/fileicons/html.png", images) no-repeat; }
  .redactor_file_ico_jpg    { background: asset-url("imperavi_rails/imperavi/fileicons/jpg.png", images) no-repeat; }
  .redactor_file_ico_mov    { background: asset-url("imperavi_rails/imperavi/fileicons/mov.png", images) no-repeat; }
  .redactor_file_ico_other  { background: asset-url("imperavi_rails/imperavi/fileicons/other.png", images) no-repeat; }
  .redactor_file_ico_pdf    { background: asset-url("imperavi_rails/imperavi/fileicons/pdf.png", images) no-repeat; }
  .redactor_file_ico_png    { background: asset-url("imperavi_rails/imperavi/fileicons/png.png", images) no-repeat; }
  .redactor_file_ico_ppt    { background: asset-url("imperavi_rails/imperavi/fileicons/ppt.png", images) no-repeat; }
  .redactor_file_ico_rar    { background: asset-url("imperavi_rails/imperavi/fileicons/rar.png", images) no-repeat; }
  .redactor_file_ico_rtf    { background: asset-url("imperavi_rails/imperavi/fileicons/rtf.png", images) no-repeat; }
  .redactor_file_ico_txt    { background: asset-url("imperavi_rails/imperavi/fileicons/txt.png", images) no-repeat; }
  .redactor_file_ico_xls    { background: asset-url("imperavi_rails/imperavi/fileicons/xls.png", images) no-repeat; }
  .redactor_file_ico_zip    { background: asset-url("imperavi_rails/imperavi/fileicons/zip.png", images) no-repeat; }

  h1, h2, h3, h4, h5 {
    font-weight: normal;
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 10px;
    margin: 10px;
  }

  h1 { font-size: 30px; }
  h2 { font-size: 24px; }
  h3 { font-size: 18px; }
  h4 { font-size: 12px; font-weight: bold; }
}