div.imperavi {
  border: 1px solid #ddd;
  font: 12px Arial;

  iframe {
    border: 0;
    margin: 0;
  }

  div.imperavi-resizer, div.imperavi-resizer div {
    cursor: s-resize;
    height: 8px !important;
    line-height: 0 !important;
    font-size: 0 !important;
    background: asset-url("imperavi_rails/imperavi/bg.png", image) repeat-x !important; 

    div {
      border-top: 1px solid #d7d6d6 !important;
      background: asset-url("imperavi_rails/imperavi/resizer.gif", image) center no-repeat !important;
    }
  }

  ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 32px;
    //background: #d1d1d1 asset-url("imperavi_rails/imperavi/bg.png", image) repeat-x top;
    border-bottom: 1px solid #b2b2b2;

background: #e5e5e5; /* Old browsers */
background: -moz-linear-gradient(top, #e5e5e5 0%, #cecece 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e5e5e5 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e5e5e5 0%,#cecece 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e5e5e5 0%,#cecece 100%); /* IE10+ */
background: linear-gradient(top, #e5e5e5 0%,#cecece 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */

    li {
      display: inline-block;
      height: 32px;

      a {
        display: inline-block;
        background: asset-url("imperavi_rails/imperavi/icons.png", image) no-repeat;
        outline: none;
        height: 32px;
        width: 32px;

        span {
          display: inline-block;
          height: 32px;
          width: 32px;
        }
      }

      // TODO Replace with box-shadow
      &.has-dropdown:hover {
        a span {
          background: asset-url("imperavi_rails/imperavi/hover.png", image) repeat-x;
        }
      }

      & a:active span {
        background: asset-url("imperavi_rails/imperavi/hover.png", image) repeat-x;
      }

      & a:hover {
        background-color: #dedede;
      }

      // Buttons with classes
      &.button-html a         { background-position: 0; }
      &.button-styles a       { background-position: -32px; }
      &.button-format a       { background-position: -64px; }
      &.button-lists a        { background-position: -96px; }
      &.button-image a        { background-position: -128px; }
      &.button-table a        { background-position: -160px; }
      &.button-link a         { background-position: -192px; }
      &.button-video a        { background-position: -224px; }
      &.button-fullscreen a   { background-position: -256px; }
      &.button-undo a         { background-position: -288px; }
      &.button-redo a         { background-position: -320px; }
      &.button-bold a         { background-position: -352px; }
      &.button-italic a       { background-position: -384px; }
      &.button-superscript a  { background-position: -416px; }
      &.button-file a         { background-position: -448px; }
      &.button-hr a           { background-position: -480px; }
      &.button-align a        { background-position: -512px; }
      &.button-align-center a { background-position: -544px; }
      &.button-align-right a  { background-position: -576px; }
      &.button-outdent a      { background-position: -608px; }
      &.button-indent a       { background-position: -640px; }
      &.button-charmap a      { background-position: -672px; }
      &.button-backcolor a    { background-position: -704px; }
      &.button-fontcolor a    { background-position: -736px; }
      &.button-orderlist a    { background-position: -768px; }
      &.button-align-left a   { background-position: -800px; }
      &.button-cut a          { background-position: -832px; }
      &.button-strike a       { background-position: -864px; }
      &.button-unorderlist a  { background-position: -896px; }
      &.button-format-clean a { background-position: -928px; }

      &:hover > ul {
        display: block;
      }

      ul {
        position: absolute;
        z-index: 2;
        top: 32px;
        display: none;
        background: #eee;
        height: auto;
        box-shadow: 0px 3px 4px rgba(123, 123, 123, 0.4);
        border: 0;
/*
      &.has-dropdown:hover {
        a span {
          background: asset-url("imperavi_rails/imperavi/hover.png", image) repeat-x;
        }
      }

      & a:active span {
        background: asset-url("imperavi_rails/imperavi/hover.png", image) repeat-x;
      }
*/
        li {
          display: block;
          height: auto;

          a {
            display: block;
            text-decoration: none;
            background-image: none !important;
            color: #000;
            width: 200px;
            height: auto;

            span {
              display: block;
              width: 200px;
              height: auto;
              padding: 7px;
              background-image: none !important;
            }
          }

          &:hover, &.current {
            a span {
              background-image: none;
              background-color: #dedede;
            }
          }

          &.separator { border-top: 1px solid #ddd; }
        }
      } 
    }
  }
}

div#imperavi-overlay {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 65500;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter:alpha(opacity=60);
  opacity: 0.70;
  background-color: #000 !important;
  position: fixed;
  display: none;
}

div#imperavi-dialog {
  font-family: "Trebuchet MS", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  background: asset-url("imperavi_rails/imperavi/bg_modal.png", image) #dbdbda repeat-x top;
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: 0px 5px 20px #111;
  -webkit-box-shadow: 0 5px 20px #111; 
  -moz-box-shadow: 0 5px 20px #111; 
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;       
  z-index: 65501;
  color: #000;
  display: none;

  h1#imperavi-dialog-title {
    padding: 20px 60px 20px 20px;
    margin: 0;
    font-size: 20px;
    cursor: default;
  }

  a#imperavi-dialog-close {
    position: absolute;
    display: block;
    padding: 20px;
    right: 0;
    top: 0;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    font-family: Arial;
    text-decoration: none;
    color: #000;

    &:hover, &:focus {
      color: maroon;
    }
  }

  article#imperavi-dialog-content {
    padding: 0 40px 30px 40px;
    background: none;
  }
}

/*
body .imp_redactor_box {
  border: 1px solid #ddd;
  background-color: #fff;
  line-height: 0;
  position: relative;
  z-index: 1;
  clear: both;
  font-family: "Trebuchet MS", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;    
}
body .redactor_air {
  position: absolute;
  border: 1px solid #ddd;
}
body .imp_redactor_frame {
  width: 100%;
}
body .imp_redactor_box textarea {
  overflow: auto !important;
  border: none !important;
  // border-color: #fff;
  // width: 99.8% !important;
  font-size: 13px !important;
  white-space: pre !important;  
}
body .imp_redactor_toolbar, body .imp_redactor_toolbar li, body .imp_redactor_drop_down, body .imp_redactor_drop_down li {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  line-height: 1;
}
body .imp_redactor_toolbar {
  position: relative !important;
  float: left !important;
  width: 100% !important;
  height: 32px !important;  
}
body .imp_redactor_toolbar li {
  float: left !important;
  width: 32px;
  height: 32px !important;
  position: relative !important;
}
body .imp_redactor_toolbar li.act {
  z-index: 3;
}
body .imp_redactor_toolbar li a {
  display: block;
  height: 32px;
  zoom: 1;
  overflow: hidden;
}
body .imp_redactor_toolbar li.separator {
  width: 2px;
  margin: 0 3px;  
}
body .imp_redactor_drop_down {
  z-index: 2;
  position: absolute;
  top: 32px;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 1px 5px #666;
  -webkit-box-shadow: 0 1px 5px #666; 
    -moz-box-shadow: 0 1px 5px #666;      
}
body .imp_redactor_drop_down li {
  font-size: 12px !important;
  float: none;
  list-style: none !important;  
  width: 200px; 
  height: auto !important;
  background: none !important;  
}
body .imp_redactor_drop_down li.separator_drop {
  border-bottom: 1px solid #eee;
}
body .imp_redactor_drop_down li a {
  color: #000 !important;
  text-decoration: none !important;
  height: auto; 
  display: block;
  padding: 6px 36px 6px 8px;
  background: none;
}
body .imp_redactor_drop_down li a:hover {
  color: #000 !important;
  text-decoration: none !important;
  background-color: #eee;
}
body .imp_redactor_drop_down li a.redactor_color_link {
  padding: 0;
  display: block !important;
  width: 15px !important;
  height: 15px !important;
  float: left !important;
  border: 2px solid #fff !important;
  font-size: 1px;
}
                


body .imp_redactor_resize { 
  cursor: s-resize;
  height: 8px !important;
  line-height: 0 !important;
  font-size: 0 !important;
}
body .imp_redactor_resize div {
  height: 8px !important;
  line-height: 0 !important;
  font-size:0 !important;
}



body .imp_redactor_box .imp_redactor_toolbar {
  background: asset-url("imperavi_rails/imperavi/bg.png", image) repeat-x top #d1d1d1;
  border-bottom: 1px solid #b2b2b2;
}
body .imp_redactor_box .imp_redactor_toolbar li.act {
  background: asset-url("imperavi_rails/imperavi/hover.png", image) repeat-x;
}
body .imp_redactor_box .imp_redactor_toolbar li a {
  background: asset-url("imperavi_rails/imperavi/icons.png", image) no-repeat;  
}
body .imp_redactor_box .imp_redactor_toolbar li:hover {
  background: asset-url("imperavi_rails/imperavi/hover.png", image) repeat-x;
}
body .imp_redactor_box .imp_redactor_resize {
  border-top: 1px solid #d7d6d6 !important;
  background: asset-url("imperavi_rails/imperavi/bg.png", image) repeat-x !important; 
}
body .imp_redactor_box .imp_redactor_resize div {
  background: asset-url("imperavi_rails/imperavi/resizer.gif", image) center no-repeat !important;
}
body .imp_redactor_box .imp_redactor_toolbar li.separator {
  background: asset-url("imperavi_rails/imperavi/separator.png", image) no-repeat right;
}



body .imp_redactor_toolbar li a.imp_btn_html     { background-position: 0; }
body .imp_redactor_toolbar li a.imp_btn_styles     { background-position: -32px; }
body .imp_redactor_toolbar li a.imp_btn_format     { background-position: -64px; }
body .imp_redactor_toolbar li a.imp_btn_lists      { background-position: -96px; }
body .imp_redactor_toolbar li a.imp_btn_image      { background-position: -128px; }
body .imp_redactor_toolbar li a.imp_btn_table      { background-position: -160px; }
body .imp_redactor_toolbar li a.imp_btn_link     { background-position: -192px; }
body .imp_redactor_toolbar li a.imp_btn_video      { background-position: -224px; }
body .imp_redactor_toolbar li a.imp_btn_fullscreen   { background-position: -256px; }
body .imp_redactor_toolbar li a.imp_btn_undo     { background-position: -288px; }
body .imp_redactor_toolbar li a.imp_btn_redo     { background-position: -320px; }
body .imp_redactor_toolbar li a.imp_btn_bold     { background-position: -352px; }
body .imp_redactor_toolbar li a.imp_btn_italic     { background-position: -384px; }
body .imp_redactor_toolbar li a.imp_btn_superscript  { background-position: -416px; }
body .imp_redactor_toolbar li a.imp_btn_file     { background-position: -448px; }
body .imp_redactor_toolbar li a.imp_btn_hr       { background-position: -480px; }
body .imp_redactor_toolbar li a.imp_btn_align      { background-position: -512px; }
body .imp_redactor_toolbar li a.imp_btn_align_center { background-position: -544px; }
body .imp_redactor_toolbar li a.imp_btn_align_right  { background-position: -576px; }
body .imp_redactor_toolbar li a.imp_btn_outdent    { background-position: -608px; }
body .imp_redactor_toolbar li a.imp_btn_indent     { background-position: -640px; }
body .imp_redactor_toolbar li a.imp_btn_charmap    { background-position: -672px; }
body .imp_redactor_toolbar li a.imp_btn_backcolor    { background-position: -704px; }
body .imp_redactor_toolbar li a.imp_btn_fontcolor  { background-position: -736px; }
body .imp_redactor_toolbar li a.imp_btn_orderlist    { background-position: -768px; }
body .imp_redactor_toolbar li a.imp_btn_align_left   { background-position: -800px; }
body .imp_redactor_toolbar li a.imp_btn_cut      { background-position: -832px; }
body .imp_redactor_toolbar li a.imp_btn_strike     { background-position: -864px; }
body .imp_redactor_toolbar li a.imp_btn_unorderlist  { background-position: -896px; }
body .imp_redactor_toolbar li a.imp_btn_format_clean { background-position: -928px; }






#redactor_imp_modal_overlay {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50000;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter:alpha(opacity=60);
  opacity: 0.70;
  background-color: #000 !important;
}
#redactor_imp_modal_overlay[id] { position: fixed; }

#redactor_imp_modal {
  background: asset-url("imperavi_rails/imperavi/bg_modal.png", image) #dbdbda repeat-x top;
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: 0px 5px 20px #111;
  -webkit-box-shadow: 0 5px 20px #111; 
    -moz-box-shadow: 0 5px 20px #111; 
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;       
      
    z-index: 50001; 
  font-family: "Trebuchet MS", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;    
  color: #000;
}
#redactor_imp_modal_header {
  padding: 30px 40px;
  font-size: 24px;
}
#redactor_imp_modal_inner {
  padding: 0 40px 30px 40px;
}
#redactor_imp_modal_close {
  position: absolute;
  right: -11px;
  top: -11px;
  width: 30px;
  height: 30px;
  background: asset-url("imperavi_rails/imperavi/close.png", image) no-repeat;
  cursor: pointer;
}
.redactor_ruler td {
  font-size: 12px !important;
  padding: 5px !important;
  border: none !important;
}
#redactor_image_box {
  height: 450px; 
  overflow: auto; 
  margin-bottom: 10px;
}

#redactor_image_box img {
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#redactor_tabs {
  position: relative;
  top: -15px;
  overflow: hidden;
  list-style: none;
  margin-left: 0;
  margin-bottom: 5px;
}
#redactor_tabs li {
  float: left;
  margin-right: 10px;
}
#redactor_tabs li a {
  display: block;
  color: #000;
  padding: 3px 7px;
  font-size: 12px;
}
#redactor_tabs li a.redactor_tabs_act, #redactor_tabs li a.redactor_tabs_act:hover {
  background-color: #fff !important;
  text-decoration: none !important;
  color: #999 !important;
}


.redactor_droparea {
  position: relative;
    width: 100%;
    margin: auto; 
}
.redactor_droparea .redactor_dropareabox {    
  z-index: 1;
  position: relative;
    text-align: center;    
    width: 96%;
    padding: 80px 0;
    border: 2px dashed #bbb;
}
.redactor_droparea .redactor_dropareabox, .redactor_dropalternative {
    color: #777;
    font-size: 13px;
}
.redactor_dropalternative {
  margin: 4px 0 2px 0;
}
.redactor_dropareabox.hover {
    background: #ddd;
    border-color: #aaa;
}

.redactor_dropareabox.error {
    background: #f7e5e5;
    border-color: #dcc3c3;
}

.redactor_dropareabox.drop {
    background: #f4f4ee;
    border-color: #e0e5d6;
}
*/