
body .imp_redactor_box {
	border: 1px solid #ddd;
	background-color: #fff;
	line-height: 0;
	position: relative;
	z-index: 1;
	clear: both;
	font-family: "Trebuchet MS", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;  	
}
body .redactor_air {
	position: absolute;
	border: 1px solid #ddd;
}
body .imp_redactor_frame {
	width: 100%;
}
body .imp_redactor_box textarea {
	overflow: auto !important;
	border: none !important;
	// border-color: #fff;
	// width: 99.8% !important;
	font-size: 13px !important;
	white-space: pre !important;	
}
body .imp_redactor_toolbar, body .imp_redactor_toolbar li, body .imp_redactor_drop_down, body .imp_redactor_drop_down li {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
	line-height: 1;
}
body .imp_redactor_toolbar {
	position: relative !important;
	float: left !important;
	width: 100% !important;
	height: 32px !important;	
}
body .imp_redactor_toolbar li {
	float: left !important;
	width: 32px;
	height: 32px !important;
	position: relative !important;
}
body .imp_redactor_toolbar li.act {
	z-index: 3;
}
body .imp_redactor_toolbar li a {
	display: block;
	height: 32px;
	zoom: 1;
	overflow: hidden;
}
body .imp_redactor_toolbar li.separator {
	width: 2px;
	margin: 0 3px;	
}
body .imp_redactor_drop_down {
	z-index: 2;
	position: absolute;
	top: 32px;
	left: 0;
	background-color: #fff;
	box-shadow: 0px 1px 5px #666;
	-webkit-box-shadow: 0 1px 5px #666; 
  	-moz-box-shadow: 0 1px 5px #666; 	  	
}
body .imp_redactor_drop_down li {
	font-size: 12px !important;
	float: none;
	list-style: none !important;	
	width: 200px;	
	height: auto !important;
	background: none !important;	
}
body .imp_redactor_drop_down li.separator_drop {
	border-bottom: 1px solid #eee;
}
body .imp_redactor_drop_down li a {
	color: #000 !important;
	text-decoration: none !important;
	height: auto;	
	display: block;
	padding: 6px 36px 6px 8px;
	background: none;
}
body .imp_redactor_drop_down li a:hover {
	color: #000 !important;
	text-decoration: none !important;
	background-color: #eee;
}
body .imp_redactor_drop_down li a.redactor_color_link {
	padding: 0;
	display: block !important;
	width: 15px !important;
	height: 15px !important;
	float: left !important;
	border: 2px solid #fff !important;
	font-size: 1px;
}
								


body .imp_redactor_resize {	
	cursor: s-resize;
	height: 8px !important;
	line-height: 0 !important;
	font-size: 0 !important;
}
body .imp_redactor_resize div {
	height: 8px !important;
	line-height: 0 !important;
	font-size:0 !important;
}


/* =Skin
-----------------------------------------------------------------------------*/
body .imp_redactor_box .imp_redactor_toolbar {
	background: asset-url("imperavi_rails/imperavi/bg.png", image) repeat-x top #d1d1d1;
	border-bottom: 1px solid #b2b2b2;
}
body .imp_redactor_box .imp_redactor_toolbar li.act {
	background: asset-url("imperavi_rails/imperavi/hover.png", image) repeat-x;
}
body .imp_redactor_box .imp_redactor_toolbar li a {
	background: asset-url("imperavi_rails/imperavi/icons.png", image) no-repeat;	
}
body .imp_redactor_box .imp_redactor_toolbar li:hover {
	background: asset-url("imperavi_rails/imperavi/hover.png", image) repeat-x;
}
body .imp_redactor_box .imp_redactor_resize {
	border-top: 1px solid #d7d6d6 !important;
	background: asset-url("imperavi_rails/imperavi/bg.png", image) repeat-x !important;	
}
body .imp_redactor_box .imp_redactor_resize div {
	background: asset-url("imperavi_rails/imperavi/resizer.gif", image) center no-repeat !important;
}
body .imp_redactor_box .imp_redactor_toolbar li.separator {
	background: asset-url("imperavi_rails/imperavi/separator.png", image) no-repeat right;
}


/* BUTTONS */
body .imp_redactor_toolbar li a.imp_btn_html 		 { background-position: 0; }
body .imp_redactor_toolbar li a.imp_btn_styles 		 { background-position: -32px; }
body .imp_redactor_toolbar li a.imp_btn_format 		 { background-position: -64px; }
body .imp_redactor_toolbar li a.imp_btn_lists 		 { background-position: -96px; }
body .imp_redactor_toolbar li a.imp_btn_image 		 { background-position: -128px; }
body .imp_redactor_toolbar li a.imp_btn_table 		 { background-position: -160px; }
body .imp_redactor_toolbar li a.imp_btn_link 		 { background-position: -192px; }
body .imp_redactor_toolbar li a.imp_btn_video 		 { background-position: -224px; }
body .imp_redactor_toolbar li a.imp_btn_fullscreen 	 { background-position: -256px; }
body .imp_redactor_toolbar li a.imp_btn_undo 		 { background-position: -288px; }
body .imp_redactor_toolbar li a.imp_btn_redo		 { background-position: -320px; }
body .imp_redactor_toolbar li a.imp_btn_bold		 { background-position: -352px; }
body .imp_redactor_toolbar li a.imp_btn_italic 		 { background-position: -384px; }
body .imp_redactor_toolbar li a.imp_btn_superscript  { background-position: -416px; }
body .imp_redactor_toolbar li a.imp_btn_file 		 { background-position: -448px; }
body .imp_redactor_toolbar li a.imp_btn_hr 			 { background-position: -480px; }
body .imp_redactor_toolbar li a.imp_btn_align 		 { background-position: -512px; }
body .imp_redactor_toolbar li a.imp_btn_align_center { background-position: -544px; }
body .imp_redactor_toolbar li a.imp_btn_align_right  { background-position: -576px; }
body .imp_redactor_toolbar li a.imp_btn_outdent 	 { background-position: -608px; }
body .imp_redactor_toolbar li a.imp_btn_indent 		 { background-position: -640px; }
body .imp_redactor_toolbar li a.imp_btn_charmap 	 { background-position: -672px; }
body .imp_redactor_toolbar li a.imp_btn_backcolor  	 { background-position: -704px; }
body .imp_redactor_toolbar li a.imp_btn_fontcolor	 { background-position: -736px; }
body .imp_redactor_toolbar li a.imp_btn_orderlist 	 { background-position: -768px; }
body .imp_redactor_toolbar li a.imp_btn_align_left 	 { background-position: -800px; }
body .imp_redactor_toolbar li a.imp_btn_cut			 { background-position: -832px; }
body .imp_redactor_toolbar li a.imp_btn_strike   	 { background-position: -864px; }
body .imp_redactor_toolbar li a.imp_btn_unorderlist	 { background-position: -896px; }
body .imp_redactor_toolbar li a.imp_btn_format_clean { background-position: -928px; }





/* MODAL */
#redactor_imp_modal_overlay {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter:alpha(opacity=60);
	opacity: 0.70;
	background-color: #000 !important;
}
#redactor_imp_modal_overlay[id] { position: fixed; }

#redactor_imp_modal {
	background: asset-url("imperavi_rails/imperavi/bg_modal.png", image) #dbdbda repeat-x top;
	position: fixed;
	top: 50%;
	left: 50%;
	box-shadow: 0px 5px 20px #111;
	-webkit-box-shadow: 0 5px 20px #111; 
  	-moz-box-shadow: 0 5px 20px #111;	
  	
  	-webkit-border-radius: 8px;
  	-moz-border-radius: 8px;
  	border-radius: 8px;  	  	
  		
  	z-index: 50001;	
	font-family: "Trebuchet MS", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;   	
	color: #000;
}
#redactor_imp_modal_header {
	padding: 30px 40px;
	font-size: 24px;
}
#redactor_imp_modal_inner {
	padding: 0 40px 30px 40px;
}
#redactor_imp_modal_close {
	position: absolute;
	right: -11px;
	top: -11px;
	width: 30px;
	height: 30px;
	background: asset-url("imperavi_rails/imperavi/close.png", image) no-repeat;
	cursor: pointer;
}
.redactor_ruler td {
	font-size: 12px !important;
	padding: 5px !important;
	border: none !important;
}
#redactor_image_box {
	height: 270px; 
	overflow: auto; 
	margin-bottom: 10px;
}

#redactor_image_box img {
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

#redactor_tabs {
	position: relative;
	top: -15px;
	overflow: hidden;
	list-style: none;
	margin-left: 0;
	margin-bottom: 5px;
}
#redactor_tabs li {
	float: left;
	margin-right: 10px;
}
#redactor_tabs li a {
	display: block;
	color: #000;
	padding: 3px 7px;
	font-size: 12px;
}
#redactor_tabs li a.redactor_tabs_act, #redactor_tabs li a.redactor_tabs_act:hover {
	background-color: #fff !important;
	text-decoration: none !important;
	color: #999 !important;
}


.redactor_droparea {
	position: relative;
    width: 100%;
    margin: auto;	
}
.redactor_droparea .redactor_dropareabox {    
	z-index: 1;
	position: relative;
    text-align: center;    
    width: 96%;
    padding: 80px 0;
    border: 2px dashed #bbb;
}
.redactor_droparea .redactor_dropareabox, .redactor_dropalternative {
    color: #777;
    font-size: 13px;
}
.redactor_dropalternative {
	margin: 4px 0 2px 0;
}
.redactor_dropareabox.hover {
    background: #ddd;
    border-color: #aaa;
}

.redactor_dropareabox.error {
    background: #f7e5e5;
    border-color: #dcc3c3;
}

.redactor_dropareabox.drop {
    background: #f4f4ee;
    border-color: #e0e5d6;
}
