@import "imperavi-rails/imperavi/imperavi-base";

body {
  width: 700px;
  margin: 0 auto;

  article {
    overflow: hidden;
    @include imperavi-base;

    p, div, h1, h2, h3, blockquote {
      border: 0;
    }

    p {
      padding: 0;
      margin: 0 0 1.5em 0;
    }
  }

  form {
    textarea {
      width: 700px;
      height: 600px;
    }
  }
}